
/* login styles */

/* login center container */
.loginBlock{
  width: 30%;
  height: 65vh;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  display: flex;
  line-height: 1rem;
  border-radius: 1.5rem;
  background-color: #1f6f8b;
  text-align: center;
  color: #fff;
  position: absolute;
  top:17%;
  left:35%;
  box-shadow: 6px 6px 25px 2px black;
}

/* login page body */
#login-body{
  justify-content: center;
  background-color: #99a8b2;
}

label{
  margin: 7%;
}

.login-btn{
  width:80%;
  margin-bottom: 20px;
  background-color: #fff;
}

.inputField{
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
  color:#fff;
  border-radius: 5px;
  background: transparent;
  text-align: center;
}

::placeholder{
  color:#B9BABC;
  opacity: 0.5;
}

.login-error{
  color:#ec5858;
  font-size: 12px;
}

/* top_inc styles */

.navigation-menu{
  background-color:#1f6f8b;
  height:100vh;
  border: none;
  color: #fff;
  text-decoration: none;
  box-shadow: 3px 3px 20px 1px black;
  z-index:2;
}

.main-panel{
  background-color: #99a8b2;
}

.nav-link{
  color:#fff;
  border: 0;
  line-height: 3rem;
}

.nav-link:hover{
  color: #99a8b2;
}

.row{
  margin: 0;
}

.admin-logout-button{
  text-decoration: none;
  color:#fff;
}

.admin-logout-button:hover{
  text-decoration: none;
  color:#ec5858;
}


/* dashboard styles */

.dashboard,.footer{
  border:none;
  background-color: #fff;
  margin:2%;
  border-radius: 0.5rem;
  padding:8px;
  box-shadow: 2px 2px 15px 2px grey;
  position: relative;
}

/* footer styles */
.footer{
  font-size: 11px;
}

/* categories styles */

.heading-content,.body-content{
  border:none;
  background-color: #fff;
  margin:1%;
  border-radius: 0.5rem;
  padding:8px;
  box-shadow: 2px 2px 15px 2px grey;
  width:95%;
}

.table{
  border:none;
  background-color: #fff;
  margin:2%;
  border-radius: 0.5rem;
  padding:8px;
  box-shadow: 2px 2px 15px 2px grey;
  width:96%;
}

.add-cat-btn{
  border-color: #10C807;
  border-radius: 0.3rem;
  width:13%;
  padding: 0.4rem;
  line-height: 1.5rem;
  position: relative;
  left:70%;
  display: inline-block;
  text-align: center;
  color:#10C807;
  font-weight: bold;
  font-size: 14px;
}
.add-cat-btn:hover{
  background-color: #10C807;
  color:#fff;
  border-color: #10C807;
}

.dashboard h5{
  display: inline-block;
}

td .status-btn{
  border-radius: 0.3rem;
  width:5.5rem;
  padding: 0.2rem;
  line-height: 1.5rem;
  text-align: center;
  color:#007bff;
  border:1px solid
}
td .status-btn:hover{
  color:#fff;
  text-decoration: none;
  background-color: #007bff;
  border-color: #007bff;
}

td .delete-btn{
  border-radius: 0.3rem;
  width:4.5rem;
  padding: 0.2rem;
  line-height: 1.5rem;
  text-align: center;
  color:#ec5858;
  border:1px solid
}
td .delete-btn:hover{
  color:#fff;
  text-decoration: none;
  background-color: #ec5858;
  border-color: #ec5858;
}

td .edit-btn{
  border-radius: 0.3rem;
  width:4.5rem;
  padding: 0.2rem;
  line-height: 1.5rem;
  text-align: center;
  color:#fff;
  border:none;
  background-color: #039A9C;
}

td .edit-btn:hover{
  background-color: #037D7F;
}

.table-elements{
  margin:0;
  padding: 0;
}

table{
  width:100%;
  font-size: 14px;
}

/* manage_categories styles */

.category-label{
  margin:1.5%;
  font-weight: bold;
}

.category-input{
  width: 100%;
}

/* product module */

.product-form-element{
  margin:0.5%;
  width:100%;
}

.table-product-image{
  width:4rem;
}


.categories-table{
  max-width: 100%;
}
